.main {
  // margin: auto;
  padding: 20px;
  
  
}

// .container{
//   width: max-content;
// }

.header-presentation{
  
  font-size: 20px;
  display: inline-block;
  // margin: auto;
  margin-left: auto;
  padding: 50px;
  background: linear-gradient(45deg, #F9E7FE, #DAFCFC);
  width: 100%;
  border-radius: 0 0 30px 30px;

  
}


.button-login:hover{
  background-color: white !important;
  color: black !important;
}
.button-login:hover:after {
  content: " →";
}


.button-new-user:hover:after {
  content: " →";
}

.button-new-user:hover{
  background-color: white !important;
  color: black !important;
}
.span{
  // color:purple;
  font-size: 60px;
  word-spacing: 0.5rem;
}
.page-presentation{
  padding-bottom: 50px;
}
