.list_questions{
  margin: 50px;
  padding-bottom: 100px;
}

.informations_page_questions{
  display: flex;
  flex-direction: row;
  align-items: center;

  .questions_closed{
    width: 50%;
    height: 100vh;
  }

  .statistics{
    width: 50%;
    align-self: center;
    height: 100vh;
  }
}
