.list_questions{
  width: auto;
  margin: 30px 30px;
  
  .questions{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  
  .card_question_details{
      padding: 500px;
      margin: 300px;
  }
  
 .card_question_button{
    height: 20%;
    align-self: center;
    margin-bottom: 30px;
  }
  
}
